{
    # Debug
    {$DEBUG}

    # email to generate a valid SSL certificate
    email mgaloyer@uneak.fr

    # HTTP/3 support
    servers {
        protocol {
            experimental_http3
        }
    }
}

# Host which Caddy will handle
{$SERVER_NAME}

# Enable the log
log

# On indique quel sera le dossier racine du serveur web
root * /srv/api/public

# On indique à Caddy où sera interprété le PHP
# php_fastcgi api:9000
php_fastcgi unix//var/run/php/php-fpm.sock

encode gzip zstd
file_server





